body{
    background-color: rgb(122, 119, 115);
}
h1{
    font-size: 28px;
    color: black;
    font-family: sans-serif;
}
.index-html{
    background-image: url(../images/recipes.jpg);
    background-position: center;
    background-size:auto;
    text-align: center;
}
.recipe-image{
    width: 40%;
    border-radius: 8px;
}